.content{
    width: 640px;
    height: 640px;
    margin: 0 auto;
    position: relative;
}
.btn{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: reba(0,0,0,0.3);
    z-index: 2;
}
.btn button{
    background: none;
    border: none;
    background-size: 100% 100%;

    cursor: absolute;
    outline: none;

    position:absolute;
    left: 50%;
    top: 50%;
}
.startBtn button{
    width: 200px;
    height: 80px;
    background-image: url(../imges/ks.png);
    margin-left: -100px;
    margin-top: -40px;
}
.pauseBtn{
    display: none;
}
.pauseBtn button{
    width: 70px;
    height: 70px;
    background-image: url(../imges/zt.png);
    margin-left: -50px;
    margin-top: -20px;
}
#snakeWrap{
    width: 600px;
    height: 600px;
    background: #335675;
    border: 20px solid #7dd9ff;
    position: relative;
}
#snakeWrap div{
    width: 20px;
    height: 20px;
}
.snakeHead{
    background-image: url(../imges/st.png);
    background-size: cover;
}
.snakeBody{
    background-color:#9ddbb1 ;
    border-radius: 50%;
    background-size: cover;
}
.food{
    background-image: url(../imges/pg.png);
    background-size: cover;
}